@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700&display=swap');
@font-face {
    font-family: 'Gotham Pro Light';
    src: url('../fonts/GothamPro-Light.eot');
    src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Light.woff') format('woff'), url('../fonts/GothamPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    outline: none;
}
button {
    outline: none;
}

.container {
    max-width: 1222px;
    margin: auto;
}

.main {
    margin: auto;
    background: url(../img/slider_img_201.jpg) center no-repeat;
    max-width: 1366px;
    height: 800px;
}

.main-product {
    margin: auto;
    background-color: #f5f5f5;
    max-width: 1366px;
    height: 360px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 63px;
    flex-wrap: nowrap;
    max-width: 1366px;
    height: 90px;
    margin: auto;
    background: #F0F0F0;
}

.header__bcg {
    background-color: #ffffff;
}

.header-product {
    background-color: #f5f5f5;
}

.header:hover {
    background-color: #F9F9F9;
}

.logo-nav {
    width: 185px;
    height: 22px;
    padding-left: 75px;
}

.nav-wrap {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 75px;
}

/* стили для меню */

.menu-main {
    list-style: none;
    text-align: center;
    margin: 0;
}

.menu-main li {
    display: inline-block;
}

.menu-main li:after {
    color: #8c8c8c;
    display: inline-block;
}

.menu-main li:last-child:after {
    content: none;
}

.menu-main a {
    text-decoration: none;
    letter-spacing: 2px;
    position: relative;
    margin: 0 20px 0 10px;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-main a, .menu-main a:visited {
    color: #8c8c8c;
}

.menu-main a.current, .menu-main a:hover {
    color: #212121;
}

.menu-main a:before, .menu-main a:after {
    content: "";
    position: absolute;
    height: 3px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #212121;
    transition: .8s;
}

.menu-main a:hover:before, .menu-main .current:before {
    left: 0;
}

.menu-main a:hover:after, .menu-main .current:after {
    right: 0;
}

.product-nav__link a {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
}

.product-wrap__menu {
    padding: 70px 0;
}

/* всплывающее меню под hero */

.bar {
    position: relative;
    height: 1px;
    max-width: 1366px;
    margin: auto;
    background-color: #ffffff;
}

.bar-hover {
    position: absolute;
    margin-top: -77px;
    padding-top: 30px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
    width: 1384px;
    height: 78px;
    background-color: #ffffff;
    opacity: 0;
    transition: 0.3s;
}

.bar-hover:hover {
    opacity: 1;
}

/* блок hero */

.hero {
    margin-top: 240px;
}

.hero-product {
    margin-top: 150px;
}

.hero-product__title {
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    color: #212121;
}

.hero-subtitle {
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #43a047;
}

.hero-title {
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
    margin: 10px 0 30px 0;
}

.hero-description {
    max-width: 480px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    padding-bottom: 30px;
}

.hero-button {
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    width: 220px;
    height: 53px;
    background-color: #ffffff;
    border-radius: 22.5px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    border: none;
    transition: 0.5s;
}

.arrow {
    margin-left: 18px;
}

.hero-button:hover {
    transform: scale(1.1);
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.navigation-dots__min {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #C5C5C5;
    margin: 0 7px;
}

.navigation-dots__center {
    width: 40px;
    height: 40px;
    background-color: #212121;
    border-radius: 20.0px;
}

/* блок featured (второй сверху)))))*/

.featured {
    /* height: 600px; */
    padding-bottom: 120px;
}

.featured-link {
    padding-top: 120px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.featured-link__wrap {
    display: flex;
    justify-content: space-between;
}

.featured-link__title-left {
    padding: 0 10px;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
    border-bottom: 2px solid #212121;
}

.featured-link__title-right {
    padding: 0 10px;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #6c6c6c;
}

.featured-link__exp {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
}

.featured-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.featured-product__card {
    position: relative;
    width: 270px;
    height: 270px;
    margin: 10px 0;
}

.product__card-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 1.0px solid #9c9c9c;
    text-align: center;
}

a .product__card-hover:hover {
    opacity: 0.9;
}

.card-hover__round {
    margin-top: 60px;
}

.card-hover__arrow {
    margin-top: 10px;
}

.card-hover__title {
    margin-top: 13px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    color: #212121;
}

.card-hover__subtitle {
    margin-top: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #6c6c6c;
}

.promo {
    max-width: 1366px;
    /* height: 683px; */
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.promo-content__left {
    background: url(../img/promo_img1_148.jpg);
    background-size: 100%;
}

.promo-content__right {
    background: url(../img/promo_img_132.jpg);
    background-size: 100%;
}

.promo-content__wrap {
    margin: auto;
    margin-top: 200px;
    margin-left: 50px;
    width: 630px;
    height: 460px;
}

.promo-subtitle {
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
}

.promo-title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.promo-description {
    display: block;
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    padding-bottom: 30px;
}

/* блок trending */

.trending {
    padding-bottom: 120px;
}

.trending-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 60px;
}

.trending-text__title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.trending-text__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
}

.trending-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trending-card__box {
    margin: 20px 0;
}

.product-round {
    margin-left: 50%;
    margin-right: 50%;
    padding-top: 50px;
    /* padding-bottom: 20px; */
}

/* блок hot */

.hot {
    margin: auto;
    background: url(../img/slider_84.jpg) center no-repeat;
    max-width: 1366px;
    height: 800px;
}

.hot-wrap {
    padding-top: 250px;
}

.hot-subtitle {
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e53935;
}

.hot-title {
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
    margin: 0;
}

.hot-description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    padding: 30px 0;
}

.hot-navigation {
    margin-top: 170px;
}

/* блок exclusive */

.exclusive {
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
}

.exclusive-product__left {
    margin: auto;
    padding-right: 25px;
    width: 570px;
    height: 570px;
    background: url(../img/product_1_lg_66.jpg);
}

.exclusive-content__wrap {
    margin-top: 125px;
    margin-left: 30px;
    width: 683px;
}

.exclusive-subtitle {
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
}

.exclusive-title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.exclusive-description {
    display: block;
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    padding-bottom: 30px;
}

.exclusive__right-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.exclusive__right-img {
    padding: 15px;
}

.mobile {
    max-width: 1366px;
    height: 516px;
    margin: auto;
    background: url(../img/back_img_44.jpg);
}

.mobile-wrap {
    padding-top: 110px;
    margin-left: 100px;
}

.mobile-subtitle {
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
}

.mobile-title {
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
    margin: 0;
}

.modile-icon {
    padding-top: 10px;
    padding-right: 10px;
}

.mobile-description {
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
}

/* Контент страницы Sowroom */

.showroom-menu {
    margin: 25px auto;
    max-width: 1366px;
    height: 70px;
    background-color: #f4f4f4;
}

.showroom__link {
    padding-top: 25px;
    padding-left: 0;
}

.showroom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 90px;
}

.showroom-images {
    width: 570px;
    height: 680px;
}

/* .showroom-images__img {
    height: 100%;
    width: 100%;
} */

.showroom-images_side {
    text-align: center;
    padding-top: 10px;
}

.showroom-content {
    display: flex;
    flex-direction: column;
    width: 500px;
    /* padding: 50px; */
}

.showroom-content__titl {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
    text-align: center;
    padding-top: 50px;
}

.showroom-content__subtitle {
    font-size: 18.1px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e53935;
    text-align: center;
    margin: 10px;
}

.showroom-content__wraper {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.showroom-content__prise {
    font-size: 36.1px;
    line-height: 48px;
    font-weight: 300;
    text-transform: uppercase;
    color: #212121;
    text-align: center;
}

.showroom-content__num {
    font-size: 72.1px;
    line-height: 48px;
    font-weight: 300;
    text-transform: uppercase;
    color: #212121;
}

.showroom-content__button {
    display: block;
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    width: 518px;
    height: 78px;
    background-color: #f44336;
    border-radius: 35.0px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    margin: auto;
}

.showroom-arrow {
    vertical-align: bottom;
}

.showroom-content__description__top {
    padding-top: 40px;
}

.showroom-content__description {
    font-family: 'Gotham Pro Light', sans-serif;
    font-size: 16.1px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #212121;
}

/* .str {
    height: 100px;
} */

/* Контент страницы Contact */

.location {
    padding-top: 71px;
    padding-bottom: 82px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.location-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 48px; */
    margin-bottom: 50px;
    width: 370px;
    height: 370px;
    opacity: 0.9;
    background-color: #ffffff;
    border: 1.0px solid #9c9c9c;
}

.location-box__icon {
    padding-top: 48px;
}

.location-box__title {
    margin: 0;
    padding-top: 34px;
    padding-bottom: 18px;
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
}

.location-box__subtitle {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #6c6c6c;
}

.location-box__number {
    margin: 0px;
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #212121;
}

.location-box__mail {
    margin: 0;
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #212121;
}

.location-box__address {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #212121;
}

footer {
    margin: auto;
    max-width: 1366px;
    min-height: 384px;
    background-color: #F7F7F7;
}

.content-link {
    padding-left: 10px;
    padding-right: 10px;
}

.footer-content__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 50px;
}

.footer-content__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-link__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
}

.content-link__addres {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
}

.content-link__color {
    color: #F7F7F7;
}

.content-link__text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
    margin: 0;
}

.content-botton__text {
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
}

.content-link__input {
    width: 390px;
    height: 50px;
    background-image: url(../img/fl.png);
    background-repeat: no-repeat;
    padding-left: 23px;
    border: 0.5px solid rgb(190, 190, 190);
    background-position: 350px 15px;
}

@media only screen and (max-width: 1250px) {
    .container {
        padding: 0 50px;
    }
    .hot-wrap {
        padding-top: 250px;
    }
    .exclusive {
        padding: 120px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .featured-product {
        justify-content: space-around;
    }
    .trending {
        padding-bottom: 120px;
    }
    .footer-content__top {
        justify-content: center;
    }
    .promo-content__left {
        margin: 10px;
    }
    .promo-content__right {
        margin: 10px;
    }
    .bar-hover {
        width: -webkit-fill-available;
    }
}

@media only screen and (max-width: 980px) {
    .header {
        flex-direction: column;
    }
    .logo-nav {
        padding-left: 50px;
        padding-bottom: 50px;
    }
    .menu-main li {
        padding: 10px 0;
    }
    .promo-content__wrap {
        padding: 0 50px;
    }
    .footer-content__top {
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        padding-left: 50px;
        /* align-items: center; */
    }
    .footer-content__bottom {
        flex-direction: column;
        /* align-items: flex-start; */
        padding-left: 50px;
    }
    .main-product {
        height: 480px;
    }
    .showroom-menu {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 855px) {
    .product-round {
        margin-left: 25%;
    }
    .showroom-menu {
        height: 120px;
    }
    .bar-hover {
        height: 145px;
    }
}

@media only screen and (max-width: 600px) {
    .hero {
        margin-top: 100px;
    }
    .featured-link {
        flex-direction: column;
    }
    .featured-link__exp {
        padding-top: 50px;
    }
    .hot-wrap {
        padding-top: 150px;
    }
    .bar-hover {
        height: 200px;
    }
}